<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KRiPTO DEJE</title>
    <link rel="stylesheet" href="css/style.css">
    <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"> -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
</head>
<body>

    <div class="navbar">
        <a href="#"><img src="image/logo.jpg" class="logo"></a>

        <div class="menu">
            <ul>
                <li><a href="#">ana sayfa</a></li>
                <li><a href="#">para değreleri</a></li>
                <li><a href="#">haberler</a></li>
                <li><a href="#">bize ulaşın</a></li>
                <li><a href="#">giriş</a></li>
                <li><a href="#" class="signin">kaydol</a></li>
            </ul>
        </div>

        <div class="icons">
            <button class="btn search-icon"><i class="ri-search-line"></i></button>

            <button class="btn menu-icon">
                <i class="ri-menu-3-line menu-open-icon"></i>
                <i class="ri-close-line menu-close-icon close"></i>
            </button>
        </div>

        <div class="search-screen row">
            <div class="col">
                <div class="search-form row">
                    <input type="text" class="search-input" placeholder="nasıl yardımcı olabilirim!">
                    <button class="search-button">
                        <i class="ri-search-line"></i>
                    </button>
                </div>
                <span class="search-inf">ESC Tuşuna basarak da kapatabilirsin</span>
            </div>
            <i class="ri-close-line search-close-icon"></i>
        </div>
    </div>

    <div class="slider-image">
        <img src="image/bitcoin.jpg" class="slider-img">
        <h1 class="slider-selam">kripto deje'ye hoşgeldiniz</h1> 
    </div>

    <div class="newss">
        <div class="newss-title">
            <h1>haberler</h1>
        </div>

        <div class="newss-area">
            <div class="news">
                <a href="#"><img src="image/bitcoin-2.jpg" class="news-image"></a>
                <h1 class="news-title">SANAL ALTIN</h1>
                <p class="news-text">
                    BİTCOİN HAKKINDA EN YENİ VE EN HIZLI 
                    ŞEKİLDE HABERLERE BURADAN 
                    ULAŞABİLİRSİNİZ
                </p>
                <a href="#" class="news-go">daha fazlaını oku ></a>
            </div>

            <div class="news">
                <a href="#"><img src="image/analic.jpg" class="news-image"></a>
                <h1 class="news-title">SANAL ALTIN</h1>
                <p class="news-text">
                    BİTCOİN HAKKINDA EN YENİ VE EN HIZLI 
                    ŞEKİLDE HABERLERE BURADAN 
                    ULAŞABİLİRSİNİZ
                </p>
                <a href="#" class="news-go">daha fazlaını oku ></a>
            </div>

            <div class="news">
                <a href="#">
                <img src="image/criptos.jpg" class="news-image"></a>
                <h1 class="news-title">SANAL ALTIN</h1>
                <p class="news-text">
                    BİTCOİN HAKKINDA EN YENİ VE EN HIZLI 
                    ŞEKİLDE HABERLERE BURADAN 
                    ULAŞABİLİRSİNİZ
                </p>
                <a href="#" class="news-go">daha fazlaını oku ></a>
            </div>
        </div>
    </div>


    <div class="data-area">
        <div class="data-area-scroll">
            <!-- <div class="coin">
                <img src="image/bitcoin-2.jpg" class="coin-image">
                <span class="coin-name">BTC</span>
                <span class="coin-fiyat">30000 USDT</span>
                <span class="coin-artis"><span class="ok">^</span> 0.21%</span>
            </div> -->
        </div>

        <div class="footer loader"><h1><span class="load">...</span>yükleniyor<span class="load">...</span></h1></div>
    </div>

    <div class="about-me">
        <div class="about-text">
            <h1>BİZE KATIL</h1>
            <p>
                KRİPTO PARA HABERLERİ WEB3  
                NFT VE DAHA BİRÇOK ŞEY VAR 
                BURADA EN YENİ HABERLERE 
                BURADAN ULAŞABİLİRSİNİZ
            </p>
            <a href="#" class="signin">BİZE KATIL</a>
        </div>
    </div>

    <div class="footer">
        <span>© 2023 KİRİPTO DEJE All rights reserved</span>
    </div>
    
    <script src="./js/main.js"></script> 
</body>
</html>